<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>339662209183-7d5vl3oh4lvek6ttc7peoa0akgbdab60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339662209183-7d5vl3oh4lvek6ttc7peoa0akgbdab60</string>
	<key>API_KEY</key>
	<string>AIzaSyA64KJAwwwMMBtnJD_Xv8zwhDGjEWGE0UU</string>
	<key>GCM_SENDER_ID</key>
	<string>339662209183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cmu.com.WhatsHot</string>
	<key>PROJECT_ID</key>
	<string>whatshot-f0da3</string>
	<key>STORAGE_BUCKET</key>
	<string>whatshot-f0da3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339662209183:ios:a62e5fa9d43f0112</string>
	<key>DATABASE_URL</key>
	<string>https://whatshot-f0da3.firebaseio.com</string>
</dict>
</plist>